@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--bg-opacity));
    --text-opacity: 1;
    color: rgba(229, 231, 235, var(--text-opacity));
  }

  .light {
    --bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    --text-opacity: 1;
    color: rgba(55, 65, 81, var(--text-opacity));
  }
}
